
.left-sidebar{
    z-index: 0;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    width: 164px;
    transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
    box-sizing: border-box;
    font-size: 15px;
}

.side-nav{
    height: auto;
    max-width: 100%;
    position: sticky;
    margin: 50px 0px;
    padding: 20px 0px;
}

.side-nav-div{
    padding: 10px 0px;
}

.side-nav-div div{
    padding-left: 5px;
}

.side-nav-links{
    text-decoration: none;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition : 0.2s;
    padding-left:5px;
    height: 30px;
}

.side-nav-links img{
    height: 14px;
    opacity: 0.6;
}
.side-nav-links:hover{
    color: black;
}

.active{
    font-weight: bolder;
    color: black;
    background-color: rgb(225,225,225);
    border-right: solid 3px #ef8236;
}

