body{
  background-color: whitesmoke;
}

.home-container-1{
  min-height: 100vh;
  max-width: 100%;
  margin-left: 100px;
  margin-top: 15px;
  display:flex;
  justify-content: space-between;
  /* margin : 0% auto ; */
}

.home-container-2{
  margin: 0;
  width: 100%;
  padding-top: 10px ;
  padding-right: 24px;
  box-sizing: border-box;
  display: flex;
}

.home-mainbar{
  margin-top: 20px;
  width: 75%;

}

.home-mainbar-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-left: 30px;
}

.quest-btn {
  padding: 7px 13px;
  border: solid 1px #009dff;
  border-radius: 7px;
  background-color: #009dff;
  cursor: pointer;
  text-decoration: none;
  color: white;
  height: 40px;
  font-size: 13px;
}

.quest-btn:hover{
  background-color: #0490e6;
}

.home-mainbar>div>p{
  font-size: 25px;
}

.q-len{
  padding-left: 30px;
  font-size: 15px;
  margin: 0;
  margin-bottom: 10px;
}

